<?xml version="1.0" encoding="UTF-8"?>

<web-app
   version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <servlet>
      <servlet-name>HelloService</servlet-name>
      <servlet-class>org.jboss.test.ws.jaxws.cxf.http.HelloImpl</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>HelloService</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HelloServiceContent</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>guest</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>DIGEST</auth-method>
		<realm-name>ws-digest-domain</realm-name>
	</login-config>
	<security-role>
		<role-name>guest</role-name>
	</security-role>
</web-app>