
# /
**/*~
**/derby.log
/ant.properties
/clipboard.*
**/target
**/.settings
**/.classpath
**/.project
**/.surefire-*
/profiles.xml
/target.properties
/transaction.log

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea

# /modules/
/modules/target

# /modules/client/
/modules/client/target

# /modules/management/
/modules/management/target

# /modules/resources/
/modules/resources/target

# /modules/server/
/modules/server/target

# /modules/testsuite/
/modules/testsuite/target

# /modules/testsuite/cxf-tests/
/modules/testsuite/cxf-tests/target
/modules/testsuite/cxf-tests/lib

.DS_Store
