install:
  - java -version; mvn --show-version clean
script: |
  travis_wait 30 travis-scripts/build-wildfly.sh $BUILD_WFLY_MASTER &&
  travis_wait 30 travis-scripts/jbossws-test.sh $SERVER_VERSION

language: java
jdk:
  - openjdk8
  - openjdk11

env:
  - SERVER_VERSION=wildfly2100
  - SERVER_VERSION=wildfly2200
  - SERVER_VERSION=wildfly2300 BUILD_WFLY_MASTER=true
cache:
 directories:
  - $HOME/.m2
