install: true
script:
  - travis-scripts/jbossws-test.sh $SERVER_VERSION $SECURITY_MGR $BUILD_WFLY_MASTER

language: java
jdk:
  - oraclejdk9

env:
  - SERVER_VERSION=wildfly1100,secmgr SECURITY_MGR=true BUILD_WFLY_MASTER=false
  - SERVER_VERSION=wildfly1200 SECURITY_MGR=false BUILD_WFLY_MASTER=false
  - SERVER_VERSION=wildfly1200,secmgr SECURITY_MGR=true BUILD_WFLY_MASTER=false
  - SERVER_VERSION=wildfly1300,secmgr SECURITY_MGR=true BUILD_WFLY_MASTER=true
cache:
 directories:
  - $HOME/.m2
addons:
  apt:
    packages:
      - oracle-java9-installer
