#
# A sample ant properties file
#
# $Id: ant.properties.example 3995 2007-07-26 08:52:45Z thomas.diesler@jboss.com $

# Optional JBoss Home
#jboss500.home=/home/tdiesler/svn/jbossas/trunk/build/output/jboss-5.0.0.Beta4
#jboss422.home=/home/tdiesler/svn/jbossas/tags/JBoss_4_2_2_GA/build/output/jboss-4.2.2.GA
#jboss423.home=/home/tdiesler/svn/jbossas/branches/Branch_4_2/build/output/jboss-4.2.3.GA

# The JBoss server under test. This can be [jboss422|jboss423|jboss500]
jbossws.integration.target=jboss422

# The JBoss settings
jboss.server.instance=default
jboss.bind.address=localhost

# JBoss JMX invoker authentication
#jmx.authentication.username=admin
#jmx.authentication.password=admin

# JBoss Repository
#jboss.repository=file:/home/tdiesler/svn/jboss.local.repository
jboss.repository=http://repository.jboss.org

# JBossWS Release
jbossws.portal.content=/home/tdiesler/svn/jbossws/portal-content
jboss.local.repository=/home/tdiesler/svn/jboss.local.repository

# Force thirdparty HTTP get
#force.thirdparty.get=true

# JDK settings
#java.home.jdk16=/usr/java/jdk1.6

# Java Compiler options
javac.debug=yes
javac.deprecation=no
javac.fail.onerror=yes
javac.verbose=no
