<profilesXml xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/profiles-1.0.0.xsd">
  <profiles>

    <!-- This profile can also be defined in ~/.m2/settings.xml -->
    <profile>
      <id>jboss-home-profile</id>
      <activation>
        <property>
          <name>user.name</name>
        </property>
      </activation>
      <properties>
        <jboss500.home>/home/opalka/svn/jbossas/tags/JBoss_5_0_0_GA/build/output/jboss-5.0.0.GA</jboss500.home>
        <jboss501.home>/home/opalka/svn/jbossas/tags/JBoss_5_0_1_GA/build/output/jboss-5.0.1.GA</jboss501.home>
        <jboss510.home>/home/opalka/svn/jbossas/tags/JBoss_5_1_0_GA/build/output/jboss-5.1.0.GA</jboss510.home>
        <jboss600.home>/home/opalka/svn/jbossas/tags/JBoss_6_0_0_M1/build/output/jboss-6.0.0.M1</jboss600.home>
        <jboss601.home>/home/opalka/svn/jbossas/trunk/build/output/jboss-6.0.0-SNAPSHOT</jboss601.home>
      </properties>
    </profile>

  </profiles>
</profilesXml>
