<profilesXml xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/profiles-1.0.0.xsd">
  <profiles>
    
    <!-- This profile can also be defined in ~/.m2/settings.xml -->   
    <profile>
      <id>jboss-home-profile</id>
      <activation>
        <property>
          <name>user.name</name>
        </property>
      </activation>
      <properties>
        <jboss421.home>/home/tdiesler/svn/jbossas/tags/JBoss_4_2_1_GA/build/output/jboss-4.2.1.GA</jboss421.home>
        <jboss422.home>/home/tdiesler/svn/jbossas/tags/JBoss_4_2_2_GA/build/output/jboss-4.2.2.GA</jboss422.home>
        <jboss423.home>/home/tdiesler/svn/jbossas/branches/Branch_4_2/build/output/jboss-4.2.3.GA</jboss423.home>
        <jboss500.home>/home/tdiesler/svn/jbossas/tags/JBoss_5_0_0_Beta4/build/output/jboss-5.0.0.Beta4</jboss500.home>
        <jboss501.home>/home/tdiesler/svn/jbossas/trunk/build/output/jboss-5.0.0.CR1</jboss501.home>
      </properties>
    </profile>
    
  </profiles>
</profilesXml>