<profilesXml xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/profiles-1.0.0.xsd">
  <profiles>
    
    <!-- This profile can also be defined in ~/.m2/settings.xml -->   
    <profile>
      <id>jboss-home-profile</id>
      <activation>
        <property>
          <name>user.name</name>
        </property>
      </activation>
      <properties>
        <jboss510.home>/home/opalka/svn/jbossas/branches/Branch_5_x/build/output/jboss-5.1.0.GA</jboss510.home>
      </properties>
    </profile>
    
  </profiles>
</profilesXml>
