<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>EpServlet</servlet-name>
    <servlet-class>org.jboss.test.ws.jaxws.cxf.bus.EndpointImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Ep2Servlet</servlet-name>
    <servlet-class>org.jboss.test.ws.jaxws.cxf.bus.ClientEndpointImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EpServlet</servlet-name>
    <url-pattern>/EndpointService/Endpoint</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Ep2Servlet</servlet-name>
    <url-pattern>/ClientEndpointService/ClientEndpoint</url-pattern>
  </servlet-mapping>
</web-app>