name: JBossWS-CXF CI Build For Cloud Test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: ['11']
        profile: ['-Dcloud']
    steps:
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.7.2
        with:
          driver: docker
          container runtime: containerd
          minikube version: 'v1.30.1'
          kubernetes version: 'v1.27.1'
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: "--memory='4gb' --cpus='2'"
      - name: Enable minikube registry
        run: |
          minikube addons enable registry
          kubectl port-forward --namespace kube-system service/registry 5000:80 &
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Checkout wildfly-cloud-tests
        uses: actions/checkout@v2
        with:
          repository: jimma/wildfly-cloud-tests
      - name: Build wildfly-cloud-tests
        run: mvn clean install -DskipTests=true -Pimages
      - name: Checkout jbossws-cxf
        uses: actions/checkout@v2
      - name: Build with Maven Java ${{ matrix.java }} ${{ matrix.profile }}
        run: |
          mvn -s ./.m2-settings.xml -fae ${{ matrix.profile }} clean install
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '${{ github.workspace }}/**/surefire-reports/*.*'
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '${{ github.workspace }}/**/*.log'