name: JBossWS-CXF CI Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest ]
        jdk-distribution: [temurin, adopt-openj9]
        jdk-version: [17, 21, 25]
        profile: ['']
    steps:
      - name: Checkout jbossws-cxf
        uses: actions/checkout@v5
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.jdk-distribution }}
          java-version: ${{ matrix.jdk-version }}
      - name: Build docbook
        run: mvn -s ./.m2-settings.xml -f docbook/pom.xml install
      - name: Build with Maven Java ${{ matrix.jdk-version }} ${{ matrix.profile }}
        run: |
          mvn -s ./.m2-settings.xml -fae ${{ matrix.profile }} clean install
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.jdk-version }}
          path: '${{ github.workspace }}/**/surefire-reports/*.*'
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.jdk-version }}
          path: '${{ github.workspace }}/**/*.log'
