# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: '30 0 * * *' # Every day at 00:30 UTC

jobs:
  wildfly-build:
    uses: wildfly/wildfly/.github/workflows/shared-wildfly-build.yml@main
    with:
      wildfly-branch: "main"
      wildfly-repo: "wildfly/wildfly"
  jbossws-build:
    runs-on: ${{ matrix.os }}
    needs: wildfly-build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest ]
        jdk-distribution: [temurin, adopt-openj9]
        jdk-version: [17, 21, 25]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: wildfly-maven-repository
          path: .
      - name: Extract Maven Repo
        shell: bash
        run: tar -xzf wildfly-maven-repository.tar.gz -C ~
      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.jdk-distribution }}
          java-version: ${{ matrix.jdk-version }}
          cache: 'maven'
      - name: Build with Maven Java ${{ matrix.jdk-version }} on WildFly ${{needs.wildfly-build.outputs.wildfly-version}}
        run: |
          mvn -s ./.m2-settings.xml -B -V -fae clean install '-Dwildfly.version=${{needs.wildfly-build.outputs.wildfly-version}}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.jdk-version }}
          path: '**/surefire-reports/'
      - name: Upload server logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.jdk-version }}
          path: '**/*.log'
